main {
    padding: 5px;
    max-width: 600px;
    margin: auto;
}
header {
    text-align: center;
    padding: 5px;
    background:pink;
}
input[name='captcha'] {
    text-align: right;
}
#gif-container {
    text-align: center;
}
#gif {
    margin: auto;
}
