main {
    
    padding: 5px;
    max-width: 600px;
    margin: auto;
}
header {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-weight:bold;
    margin-top:10px;
    background:#FFB6E6;
}
input[name='captcha'] {
    text-align: right;
}
#gif-container {
    text-align: center;
}
#gif {
    margin: auto;
}

